{% extends 'base.html' %}

{% block content %}
<p>Добро пожаловать!</p>
    <li><a href="{% url 'proposal'%}?type=registered">Отправить запрос зарегистрированному пользователю</a></li>
    <li><a href="{% url 'proposal'%}?type=unregistered">Отправить запрос незарегистрированному пользователю</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'offers-list'%}">Предложения</a></li>
    <li><a href="{% url 'marriages-list'%}">История моих браков</a></li>
    {% endif %}
{% endblock %}

