{% extends 'base.html' %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    <input type="text" name="receiver_username" required>
    <button type="submit">Send proposal</button>
</form>
{% endblock %}

{% block information %}
<ul>
<h1>Молодожены нашего сайта!</h1>
<hr>
    {% for proposal in proposals %}
        {% if proposal.status == 1 %}
            <li>{{ proposal.sender }} + {{ proposal.receiver }} = ❤️</li>
            <p>Status: Approved</p>
        {% elif proposal.status == -1 %}
            <li>{{ proposal.sender }} + {{ proposal.receiver }} = 🤔</li>
            <p>Status: Not Approved</p>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}

<!-- Вывод статуса (если был POST) -->
{% if status %}
    <p>Статус: {{ status }}</p>
{% endif %}