<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{  title }}</title>
    <style>
        body {
            background-color: white !important;
            margin: 0;
            padding: 10px;
        }
    </style>
</head>
<body>

{% block mainmenu %}
    <h2><a href="{% url 'home' %}">HomePage</a> </h2>
{% if user.is_authenticated %}
	<li style="float: right">
		<a href="{% url 'profile' %}"> {{ user.first_name }} </a> |
    <a href="#" onclick="document.getElementById('logoutForm').submit(); return false;">
        Выйти
    </a>
</li>
{% else %}
	<li style="float: right"><a href="{% url 'login' %}"> Войти </a> | <a href="
{% url 'register' %}">Зарегистрироваться</a>
	</li>
{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block information %}
<ul>
<h1>Молодожены нашего сайта!</h1>
<hr>
    {% for proposal in marriages %}
      <li>
        {{ proposal.husband.first_name }} {{ proposal.husband.last_name }}
          {% if proposal.husband.has_photo %}
            <img src="{{ proposal.husband.has_photo }}" width="50" height="50">
            {% else %}
          <img src="/media/users/default.png" width="50" height="50">
            {% endif %}
          +
          {{ proposal.wife.first_name }} {{ proposal.wife.last_name }}
          {% if proposal.wife.has_photo %}
              <img src="{{ proposal.wife.has_photo }}" width="50" height="50">
          {% else %}
              <img src="/media/users/default.png" width="50" height="50">
          {% endif %}
          = ❤️ (Брак заключен: {{ proposal.created_at|date:"d.m.Y" }})
      </li>
    {% empty %}
      <li>Молодоженов, к сожалению, еще нет</li>
{% endfor %}
</ul>
{% endblock %}

<form id="logoutForm" method="post" action="{% url 'logout' %}" style="display:none;">
    {% csrf_token %}
</form>


</body>
</html>